.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19194B ;
  color: white;
  border-radius: 1em;
  padding: 0.75rem 0.1rem;
  text-decoration: none;
  border: 0;
}
