.score {
  padding: 0.5rem 0.4rem;
  border-radius: 0.4rem;
  background-color: #eee;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 900;
  color: #19194B;
  min-width: 3rem;
}
