// External Libraries
@import "bootstrap";
@import "font-awesome";

// Configuration
@import "configuration/fonts";

// Views
@import "teams/index";
@import "matches/index";
@import "bets/index";

// Components
@import "components/flag";
@import "components/pool";
@import "components/score";
@import "components/add-button";
@import "components/back-button";

body {
  background-color: #19194B;

  h1, h2, h3 {
    color: white;
  }
}

.blue-text {
  color: #2D3DFF;
  font-weight: bold;
}
